<div class="all">
    <div class="centered">
        <h2>Backend Certification Training</h2>
        </div>
    
    <div class="centered2">
       
    <br><p>You will be provided with a simulated Frontend Certification Exam in order to practice and improve the overall results in order to reach a positive average scores.<p><br>
    
    <p>Rules:</p>
    
    <ul style="list-style-type:circle">
    
    <li>You have 60 minutes to complete the exam;</li> 
    <li>You have 60 question to answer;</li>
    <li>Once you answer one question you can't go back to see it again;</li>
    <li>By the end of each exam you will be provided with the summary and will be able to see the correct answers for each question.</li>
    
    </ul>
    
    </div>
    
    </div>
    <div class="centered">
    <button type="button"  onclick="location.href = '/examepage-backend'" class="btn btn-outline-danger btn-lg">START</button>