<div class="tudo">
  
    <div class="container-fluidd p-5">
    
      <img src="assets/img/bring.png" id="ok"  routerLinkActive="active-link" routerLink="/home">
    
    </div>
    
    <div>
    
      <div class="conteudo">

          <div class="direito">
            
              <div class="conteudo-direito">
    
                <router-outlet></router-outlet>
                <p id="demo"></p>
    
               
              </div>     
    
          </div>
    
      </div>
    </div>
    </div>