    <div class="texto">
    <h2><b>What is the certification program?</b></h2>
    <p>To be able to provide strong advice and reach the desired implementation quality, 
    the Backbase Academy initiated the Certification Program. Each consultant should be
    certified before working on any Backbase project. By passing the certification 
    test, consultants are empowered to successfully implement Backbase products.</p>
    <p>Following self study materials such as the documentation available on <a class="linkbackbase" href="https://community.backbase.com/" target="_blank">Backbase 
    Community</a>, you will be able to fully comprehend key technical concepts and enhance 
    product expertise. </p><br> 
    <h2><b> How do I prepare for certification? </b></h2>
    <p>You can read through the Certification Study Guides which can be downloaded below.</p><br>
  </div>

    <div class="rowofficial">

      <button class="quad" routerLink="/frontend">
        <i class="bi bi-laptop" ></i><br><h6> <b>Frontend WA3</b></h6>
      </button>

      <button class="quad" routerLink="/backend">
        <i class="bi bi-hdd-network" ></i><br><h6><b>Backend</b></h6>
      </button>

      <button class="quad" routerLink="/mobile">
        <i class="bi bi-phone" ></i><br><h6><b>Mobile</b></h6>
      </button>

    </div>

