<div style="display: flex;flex-direction: column;align-items: flex-end;">
<button routerLink="/criar-pergunta"class="btn btn-primary " >Escrever uma pergunta</button>
</div>
<hr>

<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Data</th>
          <th scope="col">Área</th>
          <th scope="col">Categoria</th>
          <th scope="col">Pergunta</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pergunta of perguntas">
          <th >{{ pergunta.id }}</th>
          <td>{{ pergunta.dataCriacao }}</td>
          <td>{{ pergunta.area }}</td>
          <td>{{ pergunta.categoria }}</td>
          <td>{{ pergunta.descricao }}</td>
          <td>{{ pergunta.status }}</td>
          <td><a href="/editar-pergunta">Editar</a></td>
          <td><button (click)="deletePosts()">Apagar</button></td>
        </tr>
      </tbody>
 </table>