.centered{
    text-align: center;
}

.centered2{
    width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.all{
    margin: 5%;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 4rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}