<!--No padrao de organização de CSS chamado BEM-->
<!--Estudar formularios reativos do angular-->
<!--Colocar as areas e categorias numa lista dentro do TS e fazer um for each no html-->


<form [formGroup]="perguntaForm" (ngSubmit)="onSubmit()">


    <h3>Faça Uma Pergunta!</h3>
    <p>Preencha todos os campos.</p>
    <br>

    <div class="d-flex flex-column justify-content-center">

        <div class="mb-3">
            <label class="form-label">Area</label>
            <select class="form-select" aria-label="Default select example" formControlName="area">
                <ng-container *ngFor="let item of areaAr; let i = index">
                    <option value="{{item}}">{{item}}</option>
                </ng-container>
                <!-- 
                <option selected>Open this select menu</option>
                <option value="2">Two</option>
                <option value="3">Three</option> -->
            </select>


        </div>
        <div class="mb-3">
            <label class="form-label">Categoria</label>
            <select class="form-select" aria-label="Default select example" formControlName="categoria">
                <ng-container *ngFor="let item of areaAr; let i = index">
                    <option value="{{item}}">{{item}}</option>
                </ng-container>
            </select>
        </div>

        <div class="mb-3">
            <label for="txtArea" class="form-label">Pergunta</label>
            <textarea class="form-control" formControlName="pergunta" type="text" id="txtArea" placeholder=""
                rows="8" cols="70" style="width: 100%" required></textarea>
        </div>
        <div class="mb-3">
            <label for="correta" class="form-label">Resposta correta</label>
            <input #inputRespostaCorreta class="form-control" formControlName="respostacerta" type="text"
                    name="name" id="correta" placeholder="Resposta correta..." required><br>
        </div>

        <div class="mb-3">
            <label for="resposta1" class="form-label">Resposta Incorreta 1</label>
            <input #inputRespostaCorreta class="form-control" formControlName="resposta1" type="text"
                    name="name" id="resposta1" placeholder="Resposta..." required><br>
        </div>
        <div class="mb-3">
            <label for="resposta2" class="form-label">Resposta Incorreta 2</label>
            <input #inputRespostaCorreta class="form-control" formControlName="resposta2" type="text"
                    name="name" id="resposta1" placeholder="Resposta..." required><br>
        </div>
        <div class="mb-3">
            <label for="resposta3" class="form-label">Resposta Incorreta 3</label>
            <input #inputRespostaCorreta class="form-control" formControlName="resposta3" type="text"
                    name="name" id="resposta2" placeholder="Resposta..." required><br>
        </div>
    </div>
    <div style="display: flex; justify-content: flex-end">
        <div class="form-button mt-3">
            <button id="submit" type="submit" class="btn btn-primary" [disabled]="!perguntaForm.valid"> Enviar</button>
        </div>
    </div>
</form>

