 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

 body, html{
     overflow: visible !important;
 }

 h3 {
    text-transform: uppercase;
    color: #666666;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
  }

/*
.esquerdoo{
    width: 30%;
}



.vl {
    border-left: 1px solid #33333340;
    height: auto;
    margin-right: 5%;
    margin-left: 3%;
  }


.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 25%;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
}

.form-content .form-items {

    padding: 20px;
    display: inline-block;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.area{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.categoria{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}




.btn-sm:hover, .btn-group-sm:hover > .btn:hover {
    background-color: #6c757d;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #be1e2d;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {

    background-color: #ebeff8;
    color: #be1e2d;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.form-controllcerto{
    width: 100%;
    margin-top: 4%;
    border: 1px solid green;
}

.form-controllerrado{
    width: 100%;
    margin-top: 4%;
    border: 1px solid red;    
} */