<div class="tudo">
  
    <div class="container-fluidd p-5">
    
      <img src="assets/img/bring.png" id="ok"  routerLinkActive="active-link" routerLink="/home">
    
    </div>
    
    <div>
    
      <div class="conteudo">
    
        <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-white" style="width: auto; display: flex; align-items: flex-start;">
      <div class="container-fluid">
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"><br>
          <br>
          <h5><b>Certification</b></h5>
          <div class="cima">
     
          
          <ul>
          <li routerLink="/study" routerLinkActive="router-link-active"><i class="bi bi-book"></i><button class="links" routerLink="/study" routerLinkActive="router-link-active"> <p>Official study guides</p></button></li>
          <li routerLink="/documentation" routerLinkActive="router-link-active"><i class="bi bi-file-earmark-text"></i><button class="links" routerLink="/documentation" routerLinkActive="router-link-active"><p>Documentation</p></button></li>
    
          </ul>
    
         </div>
    
         <h5><b>Training Exams</b></h5>
         <div class="baixo">
         
    
          <ul >
          <li  routerLink="/frontend" routerLinkActive="router-link-active"><i class="bi bi-laptop"></i><button class="links" routerLink="/frontend" routerLinkActive="router-link-active"><p> Frontend</p></button></li>
          <li routerLink="/backend" routerLinkActive="router-link-active"><i class="bi bi-hdd-network"></i> <button class="links" routerLink="/backend" routerLinkActive="router-link-active"><p>Backend</p></button></li>
          <li routerLink="/mobile" routerLinkActive="router-link-active"><i class="bi bi-phone"></i><button class="links" routerLink="/mobile" routerLinkActive="router-link-active"><p> Mobile</p></button></li>
          <li routerLink="/qa" routerLinkActive="router-link-active"><i class="bi bi-person-workspace"></i><button class="links" routerLink="/qa" routerLinkActive="router-link-active"><p> QA</p></button></li>
          </ul>
         <hr style="margin-bottom: 10%;">
         <ul>
         <li routerLink="/perguntas" routerLinkActive="router-link-active"><i class="bi bi-question-square"  routerLinkActive="router-link-active"></i><button class="links" routerLink="/perguntas" routerLinkActive="router-link-active"><p> Perguntas</p></button></li>
        </ul>
        </div>
    
        </div>
    
      </div>
    
    </nav>
    </div>
    
          <div class="direito">
            
              <div class="conteudo-direito">
    
                <router-outlet></router-outlet>
                <p id="demo"></p>
    
               
              </div>     
    
          </div>
    
      </div>
    </div>
    </div>