
<div *ngIf="perguntas[currentQuestion].area">

    <div >
        <p>{{ Question }}. <b>{{ perguntas[currentQuestion].descricao }}</b></p>
    </div>

    <div class="d-flex flex-column">

            <div class="form-check">
            <input class="form-check-input" type="checkbox" #1 value="1" id="1">
            <label class="form-check-label" for="1">
            <p> {{ perguntas[currentQuestion].resposta1 }}  </p> 
            </label>
            </div>
            

            <div class="form-check">
            <input class="form-check-input" type="checkbox" #2 value="2" id="2">
            <label class="form-check-label" for="2">
            <p> {{ perguntas[currentQuestion].resposta2 }}  </p> 
            </label>
            </div>

            <div class="form-check">
            <input class="form-check-input" type="checkbox" #3 value="3" id="3">
            <label class="form-check-label" for="3">
            <p> {{ perguntas[currentQuestion].resposta3 }}  </p> 
            </label>
            </div>

            <div class="form-check">
            <input class="form-check-input" type="checkbox" #4 value="4" id="4">
            <label class="form-check-label" for="4">
            <p> {{ perguntas[currentQuestion].respostacerta }}  </p> 
            </label>
            </div>
  
    </div>

    <script>


      </script>  

</div>

<div style="display: flex;flex-direction: column;align-items: flex-end;">
    <button type="button" (click)="nextQuestion()"  class="btn btn-danger btn-lg">Next</button>
</div>