/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";


*, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  color: #333333;
}

h3 {
  text-transform: uppercase;
  color: #666666;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

/*TODO: pesquisar como mudar a variavel global da cor primary */
.btn {
  box-shadow: 1px 1px 1px;    
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #cfcfcf;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-primary{
  background-color: #be1e2d;
  outline: none;
  border: 0px;
   box-shadow: none;
   color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  outline: none !important;
  border: none !important;
   box-shadow: none;
   background-color: #881823;
   transform: 11s;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  list-style-type: none;
}

html, body {
    font-size: 16px;
    height: 100%;
  }

  @media (min-width: 600px){
  .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      flex-direction: column;
      align-items: flex-start;
  }

  }

@media only screen and (max-width: 390px) {
  /*/////// For mobile phones: /////*/

  html, body {
    font-size: 16px;
    height: 100%;
  }

  .container-fluid{
    height: auto;
    width: auto;
  }

  #ok{
    width: 70px;
  }

  p{

    font-size: 12px !important;

  }
    i { 
      -webkit-text-stroke: 1px; 
      font-size: 15px !important;
      color: #be1e2d;
  } 
  .linkbackbase{
   
    color: #be1e2d;
    font-size: 11px !important;
 
}
  h2{
    font-size: 13px;
  }

  h6{
    font-size: 14px;
  }

  
  h5{
    font-size: 12px;
  }

  .esquerdo{
    margin: 3%;  
    width: 32% !important;
    height: auto;
}


.cima{
  margin: 7px;
}

.baixo{
  margin: 7px;
}

dt{
  font-size: 12px;
}

.quad{
  width: 55% !important;
  padding: 20px;
  height: auto;

}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  flex-direction: column !important;
  align-content: center;
}

}

@media only screen and (max-width: 414px) {
  /*/////// For mobile phones: /////*/

  html, body {
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow: visible !important;
  }

  .container-fluid{
    height: auto;
    width: auto;
  }

  #ok{
    width: 70px;
  }

  p{

    font-size: 12px !important;

  }
    i { 
      -webkit-text-stroke: 1px; 
      font-size: 15px !important;
      color: #be1e2d;
  } 
  .linkbackbase{
   
    color: #be1e2d;
    font-size: 11px !important;
 
}
  h2{
    font-size: 13px;
  }

  h6{
    font-size: 14px;
  }

  
  h5{
    font-size: 12px;
  }

  .esquerdo{
    margin: 3%;  
    width: 32% !important;
    height: auto;
}


.cima{
  margin: 7px;
}

.baixo{
  margin: 7px;
}

dt{
  font-size: 12px;
}

.quad{
  width: 55% !important;
  padding: 20px;
  height: auto;

}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  flex-direction: column !important;
  align-content: center;
}

}


@media only screen and (max-width: 768px) {
  /*/////// For mobile phones: /////*/

  html, body {
    
    height: 100%;
  }

  .container-fluid{
    height: auto;
    width: auto;
  }

  #ok{
    width: 70px;
  }

  p{

    font-size: 14px !important;

  }
    i { 
      -webkit-text-stroke: 1px; 
      font-size: 25px !important;
      color: #be1e2d;
  } 
  .linkbackbase{
   
    color: #be1e2d;
    font-size: 15px !important;
 
}
  h2{
    font-size: 19px;
  }

  h6{
    font-size: 14px;
  }

  
  h5{
    font-size: 16px;
  }

  .esquerdo{
    margin: 3%;  
    width: 32% !important;
    height: auto;
}


.cima{
  margin: 7px;
}

.baixo{
  margin: 7px;
}

dt{
  font-size: 14px;
}

.quad{
  width: 55% !important;
  padding: 20px;
  height: auto;
  font-size: 210% !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  flex-direction: column !important;
  align-content: center;
  
}

}

